<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MingMongoPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MingMongoPlugin.Properties.Settings>
            <setting name="CollectionViewPageSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CollectionViewShowSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollectionViewShowFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyCollectionsColumn1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyCollectionsColumn2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyCollectionsColumn3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyCollectionsWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyCollectionsHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyCollectionsLeftPaneWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManageIndexesWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManageIndexesHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleForeground" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="MongoExeLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemOverviewInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SystemOverviewSpan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeleteCollectionsDBsWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeleteCollectionsDBsHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </MingMongoPlugin.Properties.Settings>
    </userSettings>
</configuration>