@using OCP.Data
<div class="main_content">
    <div class="content_block">
        <div class="content_left">
            <h1>The Front End for MongoDB</h1>
            <p>
                Hub is a invaluable tool for developing with MongoDB.
            </p>
            <ul>
                <li>Connect to any node and view your entire replica set</li>
                <li>View, sort, filter and edit data in your collections</li>
                <li>Easily copy collections or entire databases between servers</li>
                <li>Manage indexes</li>
                <li>Edit and execute complex multi-statement shell commands</li>
                <li>Watch logs and adjust log verbosity</li>
                <li>Monitor overall system performance</li>
                <li>And more...</li>
            </ul>
            <p>
                Hub is a fully multi-threaded user interface, you can continue working while long running tasks are carried out in the background.
            </p>
        </div>
        <div class="content_right">
            <h1>Try it out</h1>
            <p>
                Download a full featured two week evaluation copy of Hub right now.
                Requires Windows.
            </p>
            <a href="#">
                @*<form method="post" action="/home/download">*@
                    <input type="submit" class="download_button" value="Download Now" />
                @*</form>*@
            </a>
            <h1>Feature Tour</h1>
            <p>
                View Hub's features in more depth with screenshots. <a href="/tour/page/1">Take the tour.</a>
            </p>
        </div>
    </div>
</div>
